.nav button {
    background-color: $primary-color;
    width: 120px;
    height: 30px;
    border-radius: $button-border-radius;
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: 15px;
    border: none;


}

.registration {
    background-color: $color-white !important;
    color: $primary-color !important;

}

.login {
    margin-left: 50px;
    margin-right: -30px;
}

.nav button:hover {
    transition: 0.3s ease;
    opacity: 0.7;
}

.submit , .close {
    background-color: $primary-color;
    color: $color-white;
    font-weight: $font-weight-bold;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}