header {
    background: url(./Images/Herro\ Banner.png);
    max-height: 695px;
}

header {
    margin: auto;
    background: url(./Images/Herro\ Banner.png) 50% no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 60vh;
    border-radius: 0px 0px 40px 40px;
    padding-top: 30px;

}

.container {}

.header-container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .left-side {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-left: 150px;
    }

    .right-side {
        width: 30%;
        margin-left: 100px;
    }


    .left-side a {
        color: $primary-color;
        font-weight: $font-weight-bold;
        line-height: 24px;

    }
}

.left-side :nth-child(2) {
    margin-left: 50px;
}