header {
  background: url(./Images/Herro\ Banner.png);
  max-height: 695px;
}

header {
  margin: auto;
  background: url(./Images/Herro\ Banner.png) 50% no-repeat;
  background-size: cover;
  max-width: 1440px;
  height: 60vh;
  border-radius: 0px 0px 40px 40px;
  padding-top: 30px;
}

.nav {
  max-width: 1440px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.nav a {
  color: #003459;
  font-weight: 700;
  line-height: 24px;
  transition: 0.7s ease;
}
.nav :nth-child(2) {
  margin-left: 50px;
}
.nav img {
  width: 115px;
  height: 40px;
}

.nav a:hover {
  opacity: 0.5;
  font-size: 16.1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #003459;
}

.nav button {
  background-color: #003459;
  width: 120px;
  height: 30px;
  border-radius: 57px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: none;
}

.registration {
  background-color: white !important;
  color: #003459 !important;
}

.login {
  margin-left: 50px;
  margin-right: -30px;
}

.nav button:hover {
  transition: 0.3s ease;
  opacity: 0.7;
}

@media (max-width: 900px) {
  .header-container {
    display: flex;
  }
  .nav {
    display: grid;
    gap: 20px;
    position: fixed;
    right: -100%;
    top: 0px;
    background: url(/Images/nav-menu.png) 50% no-repeat;
    background-size: cover;
    height: 60%;
    width: 30%;
    transition: 0.3s;
    border-radius: 10px 0px 0px 10px;
    padding-top: 15px;
  }
  .nav a {
    margin: auto;
  }
  .nav :nth-child(2) {
    margin-left: 0;
    margin: auto;
  }
  .nav :nth-child(5) {
    color: #fceed5;
  }
  .nav img {
    position: fixed;
    left: 10px;
    top: 20px;
  }
  .nav .register-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    margin-bottom: 10px;
  }
  .nav .menu-toggle {
    display: block;
    position: fixed;
    right: 10px;
    top: 40px;
  }
  .nav .login {
    margin-left: 0;
    margin-right: 0;
  }
  .nav.active {
    right: 0px;
  }
}
.menu-toggle {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 50px;
  height: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-toggle .menu-btn-burger {
  width: 35px;
  height: 4px;
  background-color: #003459;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #003459;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-10px);
}

.menu-btn-burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-toggle.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-toggle.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-toggle.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-toggle {
  display: none;
  margin: auto;
}/*# sourceMappingURL=style.css.map */