article {
    background-color: $color-white;
    max-width: 85%;
    margin: auto;
    padding-bottom: 40px;
}

.adopt-banner {
    max-width: 85%;
    height: 378px;
    border-radius: 30px;
    background: url(../Images/Banner_dog_paw.png) 50% no-repeat;
    background-size: cover;
    margin: auto;
    padding: 63px 0 0 145px;

    h2 {
        color: $primary-color;
        font-weight: $font-weight-bold;
        font-size: 52px;
        // margin: 55px 0 10px 100px;

    }

    h3 {
        font-size: 36px;
        font-weight: $font-weight-bold;
        color: $primary-color;
        margin-bottom: 20px;
    }

    p {
        font-weight: 500;
        width: 250px;
        margin-bottom: 40px;
    }
}