article {
    background-color: $color-white;
    max-width: 1440px;
    margin: auto;
    padding-bottom: 40px;
}

.adopt-banner {
    width: 85%;
    height: 40%;
    background: url(../Images/Banner_dog_paw.png) 50% no-repeat;
    margin: auto;
    padding: 63px 0 0 95px;

    h2 {
        color: $primary-color;
        font-weight: $font-weight-bold;
        font-size: 3vw;
        // margin: 55px 0 10px 100px;

    }

    h3 {
        font-size: 2vw;
        font-weight: $font-weight-bold;
        color: $primary-color;
        margin-bottom: 20px;
    }

    p {
        font-weight: 500;
        width: 250px;
        margin-bottom: 40px;
    }
}