.nav button {
    background-color: $primary-color;
    width: 120px;
    height: 30px;
    border-radius: $button-border-radius;
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: 15px;
    border: none;
}

.view-intro {
    color: $primary-color;
    border: 1.5px solid;
    padding: 0.60em 1.5em;
    border-radius: 57px;
    background-color: $secondary-color;
    font-weight: 600;
}


.explore {
    color: $color-white;
    border: 1.5px solid;
    padding: 0.60em 1.5em;
    border-radius: 57px;
    background-color: $primary-color;
    font-weight: 500;
    margin-left: 10px;
}

.hero-buttons :nth-child(1):hover {
    color: $secondary-color;
    background-color: $primary-color;
    cursor: pointer;

    img {
        background-color: $secondary-color;
        border-radius: 11px;
    }
}

.hero-buttons :nth-child(2):hover {
    color: $primary-color;
    background-color: $secondary-color;
    cursor: pointer;
}

.intro-buttons button:hover {
    color: $primary-color;
    background-color: $secondary-color;
    cursor: pointer;
}

.header-bottom button {
    color: $primary-color;
    border: 1.5px solid;
    padding: 0.60em 1.5em;
    border-radius: 57px;
    background-color: transparent;
    font-weight: 600;
}

.header-bottom button:hover {
    background-color: $primary-color;
    color: $color-white;
    cursor: pointer;

    img {
        background-color: $color-white;
        border-radius: 10px;
    }
}