@media (max-width: 950px) {
    .header {
        display: flex;
        position: relative;
    }

    .nav {
        display: grid;
        gap: 20px;
        position: fixed;
        right: -100%;
        top: 0px;
        background: url(../Images/nav-menu.png) 50% no-repeat;
        background-size: cover;
        height: 60%;
        width: 30%;
        transition: 0.3s;
        border-radius: 10px 0px 0px 10px;
        padding-top: 15px;

        a {
            margin: auto;
        }

        :nth-child(2) {
            margin-left: 0;
            margin: auto;
        }

        :nth-child(5) {
            color: $secondary-color;
        }

        img {
            position: fixed;
            top: 1.5%;
            left: 12%;
            z-index: 11;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: left;
            margin-bottom: 10px;
        }

    }

    .hero-banner {
        h1 {
            font-size: 10vw;
        }

        h2 {
            font-size: 50px;
        }
    }


    .menu-toggle {
        display: block !important;
        z-index: 11;
        position: fixed;
        right: -370px;
        top: 0;

    }

    .nav {
        margin-left: 0;
        margin-right: 0;
    }

    .nav.active {
        right: 7%;
        z-index: 10;
    }


    .card-container {
        display: grid;
        grid-template-columns: auto auto auto !important;
        gap: 5px;
    }

    .banner-container h3,
    h4 {
        color: black !important;
    }

    .image-list {
        display: none !important;
    }

    .footer-bottom-container {
        display: grid !important;
        grid-template-rows: auto auto !important;
        justify-content: center !important;
        margin: auto;
    }
}

@media (max-width: 950px)