section {
    background-color: $neutral-color;
    max-width: 1440px;
    margin: auto;
    border-radius: 40px;
    padding: 3% 5%;
}

.section-header {


    .header-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: bottom;
    }

    p {
        font-weight: $font-weight-bold;
        margin-bottom: 1px;
    }

    h3 {
        color: $primary-color;
    }
}

.card-container {
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;
}

.card {
    width: 280px;
    height: 330px;
    padding: 6px;
    box-shadow: 2px 2px 21px -7px rgba(0, 0, 0, 0.75);

    img {
        height: 60%;
        border-radius: 5px;
    }

    p {
        font-weight: $font-weight-bold;
    }

}

.title {
    font-size: 18px;
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}