section {
    background-color: $neutral-color;
    max-width: 1440px;
    margin: auto;
    border-radius: 40px;
    padding: 3% 5%;
}

.section-header {


    .header-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: bottom;
    }

    p {
        font-weight: $font-weight-bold;
        margin-bottom: 1px;
    }

    h3 {
        color: $primary-color;
    }
}