* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #003459;

}

.register-container {
    width: 60%;
    height: 500px;
    background-color: #fceed5;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}