* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #003459;
    background-position: top;
}

.register-container {
    width: 50%;
    background: url(../../Images/nav.png) 50% no-repeat;
    background-position: right bottom;
    height: 550px;
    background-color: #fceed5;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 2px 13px 0px rgba(252, 238, 213, 0.75);
}

.register-container h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.register-container button {
    margin-top: 20px;
    width: 30%;
    height: 10%;
    background-color: #003459;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid;
    padding: 5px;

}

.register-container input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}

.register-container input:not(:last-child) {
    margin-bottom: 5px;
}

.register-container input:first-of-type {
    margin-bottom: -5px;
}

.validation {
    color: red;
    font-size: 14px;
    margin-bottom: -5px;
    margin-top: 2px;

}

.last {
    margin-top: -15px;
}

.register-container button:hover {
    opacity: 0.7;
    cursor: pointer;
}