* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #003459;
}

section {
    max-width: 1440px;
    background-color: #fceed5;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}

section p {
    font-size: 40px;
    font-weight: 800;
    margin-top: 200px;
}

section div {
    font-size: 30px;
}