* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #003459;
}

.success-container {
    width: 50%;
    background: url(../../Images/nav.png) 50% no-repeat;
    background-position: center bottom;
    background-color: #fceed5;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 13px 0px rgba(252, 238, 213, 0.75);
    font-weight: 600;
    gap: 10px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.success-container h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.success-container p {
    font-size: 20px;
}

.success-container a {
    font-size: 25px;
    text-decoration: underline;
}