$primary-color: #003459;
$secondary-color: #fceed5;
$color-white: #FFFF;
$color-black: #000000;
$container-padding : 130px;
$neutral-color: #FDFDFD;
$card-data-color: #667479;
$state-color : #00A7E7;
$neutral-color-100: #00171F;
$neutral-color-40: #99A2A5;
$neutral-color-60: #667479;
$neutral-color-80: #242B33;
$black-color: #0000;
$box-shadow: 1px -1px 30px 0px rgba(0, 0, 0, 0.75);
$font-weight-bold: 700;
$font-weight-medium: 500;
$button-border-radius : 57px;